* {
  transition: .1s;
}
body {
  background: black;
  font-family: 'Slabo 13px', serif;
}
#intro {
  color: white;
}
#content {
  background: white;
}
#intro .content {
  padding: 60px 20px 40px;
}
#intro h1 {
  font-size: 48px;
}
#content .content {
  min-height: 100vh;
  min-height: calc(100vh - 80px);
  padding: 20px;
}
h1, h2, h3, h4 {
  font-family: Montserrat, sans-serif;
}
h4 {
  text-transform: uppercase;
}
.subtitle {
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;
  font-size: 12px;
  color: #265AB0;
  margin: 0;
}
a {
  color: #265AB0;
  text-decoration: none;
}
p, ul, ol {
  font-size: 14px;
}
p {
  color: #333;
}
ul, ol {
  padding-left: 20px;
}
ul.unstyled {
  list-style-type: none;
  padding-left: 0;
}
blockquote, q, p, li {
  line-height: 1.6;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.seperator {
  width: 30%;
  margin: 40px 0;
  height: 1px;
  background: #ccc;
}

@media screen and (min-width: 480px) {
  #container {
    overflow: hidden;
  }
  #intro {
    width: 50%;
    height: 100%;
    position: fixed;
  }
  #content {
    margin-left: 50%;
    width: 50%;
  }
  #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #intro .content {
    width: 260px;
    text-align: left;
  }
  #content .content {
    padding: 40px;
    max-width: 660px;
  }
}
@media screen and (min-width: 700px) {
  #intro {
    width: 400px;
    height: 100%;
    position: fixed;
  }
  #content {
    margin-left: 400px;
    width: calc(100% - 400px);
  }
}